phantomjs_cdnurl=http://cnpmjs.org/downloads
sass_binary_site=https://npm.taobao.org/mirrors/node-sass/
# registry=http://nexus.yiwise.net/repository/yiwise-components-group/
_auth=YWRtaW46RF4xSyEyRk4zXzZ8XzEvSiRI
email=fangzhendong@yiwise.com
always-auth=true
